<?xml version="1.0"?>
<launch>
<!-- https://github.com/ADVRHumanoids/centauro_cartesio/tree/2.0-devel/launch -->
  
    <arg name="config_file" default="$(find estimation_utils)/config/force_estimation_node_relax.yaml"/>

    <arg name="gdb" default="false"/> <!-- for debug with gdb -->
    <arg if="$(arg gdb)" name="prefix" value="gdb -ex run --arg" />
    <arg unless="$(arg gdb)" name="prefix" value="" />
    
    <!-- 
    <arg name="robot_description" default="$(find relax_urdf)/urdf/relax.urdf" />
    <arg name="robot_description_semantic" default="$(find relax_srdf)/srdf/relax.srdf" />
    <param name="force_estimator/robot_description" textfile="$(arg robot_description)" />
    <param name="force_estimator/robot_description_semantic" textfile="$(arg robot_description_semantic)" /> 
    -->

    <rosparam file="$(arg config_file)" command="load"/>



    <remap from="force_estimator/robot_description" to="xbotcore/robot_description"/>
    <remap from="force_estimator/robot_description_semantic" to="xbotcore/robot_description_semantic"/>

    <node pkg="estimation_utils" 
          type="force_estimation_node_executable" 
          name="force_estimator"
          output="screen"
          launch-prefix="$(arg prefix)">
		  
		<remap from="~torque_offset" to="cartesian/torque_offset"/>
		<remap from="/xbotcore/command" to="null"/>
                    
    </node>
    

</launch>
